.movie-footer {
  background: linear-gradient(90deg, #141e30, #243b55);
  color: #fff;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.4);
  position: relative;
  width: 100%;
}

.movie-footer p {
  font-weight: 500;
  margin: 0;
}
