.font {
  font-family: "Comic Relief", system-ui;
  font-weight: 400;
  font-style: normal;
}
body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: #fff;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  margin: 0;
}